.text-main-color {
  color: #2ba670;
}

.py-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.row-gap-24 {
  row-gap: 24px;
}

.text-fs-3 {
  font-size: 14px;
}

.main-table {
  width: 100%;
  border-radius: 7px;
  border: none !important;
  border: 1px solid #ddd !important;
}
.main-table * {
  border: none !important;
}
.main-table tr {
  border: 1px solid #ddd !important;
}
.main-table tr th {
  background-color: #f9fafb;
  color: #6b7280;
  font-size: 12px;
  font-weight: bold;
  white-space: nowrap;
  padding: 10px;
}
.main-table tr td {
  background-color: #fff;
  font-size: 14px;
  padding: 10px;
}

.table-dark th {
  background-color: #243848;
}

.table,
.table thead {
  box-shadow: 0 0 5px 0 #ddd;
  border-radius: 5px;
}

.table .img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.table td {
  vertical-align: middle;
}

body {
  font-family: "Noto Kufi Arabic", sans-serif;
  background-color: #f7f6fe;
  color: black;
  font-size: 14px;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: black;
}

button {
  border: none;
  outline: none;
}

.btn-warning, .btn-info {
  color: #fff;
}
.btn-warning:hover, .btn-info:hover {
  color: #fff;
}

.form-control {
  font-size: 14px !important;
  border: 1px solid #ddd !important;
}

.form-floating > label {
  left: auto;
}

.main-section {
  padding: 1.5rem 0;
  min-height: calc(100vh - 41.88px - 54.5px - 69px);
}

.modal-header .modal-title {
  font-size: 15px !important;
}
.modal-header .btn-close {
  margin: unset !important;
}

/* start scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f6f6f6;
  box-shadow: 0 0 5px 0px #ddd inset;
}

::-webkit-scrollbar-thumb {
  background-color: #09b6d8;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #09adce;
}

/* end scroll bar */
.top-nav {
  background-color: #09adce;
  color: white;
  font-size: 13px;
  z-index: 1000;
}
.top-nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.top-nav .container .tog-show {
  margin: 10px 0;
  display: none;
  cursor: pointer;
}
@media (max-width: 991.98px) {
  .top-nav .container .tog-show {
    display: block;
  }
}
.top-nav .container .tog-show i, .top-nav .container .tog-show svg {
  font-size: 23px;
}
.top-nav .container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.top-nav .container a {
  color: white;
  font-size: 13px;
}
.top-nav .container .list-item {
  display: flex;
  align-items: center;
}
@media (max-width: 991.98px) {
  .top-nav .container .list-item {
    flex-direction: column;
    position: absolute;
    top: 100%;
    min-width: 200px;
    display: none;
    right: 0;
    background-color: #313131;
  }
  .top-nav .container .list-item li {
    width: 100%;
  }
  .top-nav .container .list-item li a {
    border-bottom: 1px solid #9c9c9c;
    width: 100%;
    transition: 300ms;
  }
  .top-nav .container .list-item li a::before {
    display: none;
  }
  .top-nav .container .list-item li a:hover {
    color: #2ba670;
  }
}
.top-nav .container .list-item li a {
  padding: 0.7rem;
  display: block;
  overflow: hidden;
  position: relative;
}
.top-nav .container .list-item li a::before {
  content: "";
  width: 100%;
  left: 100%;
  bottom: 3px;
  transition: 300ms;
  position: absolute;
  height: 3px;
  background-color: white;
}
.top-nav .container .list-item li a:hover::before {
  left: 0;
}

.bottom-nav {
  box-shadow: 0 5px 10px 0 rgba(228, 228, 228, 0.5215686275);
  border-bottom: 3px solid #09adce;
  background-color: white;
  z-index: 1000;
}
.bottom-nav .container .tog-show {
  display: none;
  cursor: pointer;
}
@media (max-width: 1199.98px) {
  .bottom-nav .container .tog-show {
    display: inline-block;
    margin: 10px 0;
  }
}
.bottom-nav .container .tog-show i, .bottom-nav .container .tog-show svg {
  font-size: 23px;
  color: black;
}
.bottom-nav .container .list-item {
  display: flex;
  z-index: 111;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
@media (max-width: 1199.98px) {
  .bottom-nav .container .list-item {
    flex-direction: column;
    display: none;
  }
}
.bottom-nav .container .list-item li .item {
  padding: 1rem 0.7rem;
  display: block;
  transition: 300ms;
  color: black;
  font-size: 13px;
  white-space: nowrap;
  position: relative;
}
.bottom-nav .container .list-item li .item .badge-count {
  position: absolute;
  left: 0px;
  top: 13%;
}
.bottom-nav .container .list-item li .item .i-item {
  transition: 300ms;
  color: #8f9ab8;
  font-size: 16px;
  margin-right: 2px;
}
.bottom-nav .container .list-item li .item:hover {
  color: #09adce;
}
.bottom-nav .container .list-item li .item:hover i, .bottom-nav .container .list-item li .item:hover svg {
  color: #09adce;
}
.bottom-nav .container .list-item li .dropdown-hover {
  display: flex;
}

.btn-main-sm {
  padding: 0.3rem 0.7rem;
  transition: 300ms;
  color: #fff;
  background: #2ba670;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  font-size: 13px;
  outline: none;
  border: 1px solid #2ba670;
  z-index: 1;
  position: relative;
  overflow: hidden;
}
.btn-main-sm::before {
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%;
  transition: 300ms;
  height: 100%;
  background-color: white;
  z-index: -1;
}
.btn-main-sm:hover {
  color: #2ba670;
  border: 1px solid #2ba670;
}
.btn-main-sm:hover::before {
  left: 0;
}

.dropdown-hover {
  position: relative;
  color: white;
  font-size: 11px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  z-index: 1001;
  cursor: pointer;
}
.dropdown-hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 7px;
  left: 0;
  top: 100%;
}
.dropdown-hover:hover .listis-item {
  display: block;
}
.dropdown-hover .icon-drop {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #9c9c9c;
}
.dropdown-hover .icon-drop .icon {
  font-size: 16px;
}
.dropdown-hover .text {
  margin: 0;
  font-size: 13px;
  text-align: center;
}
.dropdown-hover .listis-item {
  position: absolute;
  left: 0;
  z-index: 1000;
  top: calc(100% + 7px);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
  min-width: 100%;
  background-color: #313131;
  overflow-y: auto;
  display: none;
}
.dropdown-hover .listis-item::-webkit-scrollbar {
  display: none;
}
.dropdown-hover .listis-item {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.dropdown-hover .listis-item .item-drop a {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  padding: 10px;
  width: 100%;
  white-space: nowrap;
}
.dropdown-hover .listis-item .item-drop a:hover {
  background: #4e4e4e;
}
.dropdown-hover .listis-item .item-drop a .icon-drop {
  width: 19px;
}
.dropdown-hover .listis-item .item-drop a .text {
  size: 19px;
  color: white;
}

.badge-count {
  background-color: orangered;
  font-size: 12px;
  height: 17px;
  width: 17px;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-heading {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 1.5rem;
}

.small-heading {
  font-size: 15px;
  color: #6b7280;
  margin-bottom: 5px;
  font-weight: bold;
}

.small-label {
  color: #6b7280;
  font-size: 12px;
  margin-bottom: 2px;
}

.boxes-info .box-info {
  background-color: #fff;
  padding: 25px 15px;
  text-align: end;
  overflow: hidden;
  border-radius: 0.375rem;
  position: relative;
  box-shadow: 0 0 6px 0 #d3d3d3;
  transition: 300ms;
}
.boxes-info .box-info:hover {
  box-shadow: 0 0 6px 0 #aeaaaa;
}
.boxes-info .box-info.blue .bg-icon {
  color: #5b8af0;
}
.boxes-info .box-info.green .bg-icon {
  color: #2ba670;
}
.boxes-info .box-info.pur .bg-icon {
  color: #7b74eb;
}
.boxes-info .box-info.red .bg-icon {
  color: #de5f56;
}
.boxes-info .box-info .num {
  font-size: 25px;
}
.boxes-info .box-info .text {
  font-size: 16px;
  color: #6b7280;
}
.boxes-info .box-info .bg-icon {
  position: absolute;
  right: -3%;
  bottom: 0;
  font-size: 60px;
}
.boxes-info.boxes-bg-color .box-info {
  color: #fff;
}
.boxes-info.boxes-bg-color .box-info .text {
  color: #fff;
}
.boxes-info.boxes-bg-color .box-info .bg-icon {
  color: #fff;
}
.boxes-info.boxes-bg-color .box-info.blue {
  background-color: #5b8af0;
}
.boxes-info.boxes-bg-color .box-info.green {
  background-color: #2ba670;
}
.boxes-info.boxes-bg-color .box-info.pur {
  background-color: #7b74eb;
}
.boxes-info.boxes-bg-color .box-info.red {
  background-color: #de5f56;
}

.content-box {
  padding: 16px;
  border-radius: 0.3rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #fff;
}

/* status box style */
.status_box {
  position: relative;
  color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.13), 0 1px 3px rgba(0, 0, 0, 0.2);
}
.status_box:hover .icon > svg {
  transform: scale(1.1);
}
.status_box .data {
  padding: 10px;
}
.status_box .data > h3 {
  font-size: 2.2rem;
  font-weight: 700;
  margin: 0 0 10px;
  white-space: nowrap;
  z-index: 5;
}
.status_box .data > p {
  font-size: 16px;
  z-index: 5;
}
.status_box .icon {
  position: absolute;
  top: 20px;
  left: 15px;
}
.status_box .icon > svg {
  font-size: 50px;
  transition: transform 0.5s;
}
.status_box .more {
  position: relative;
  display: block;
  text-align: center;
  padding: 5px 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 10;
  color: #fff;
}
.status_box .more:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.blue-box {
  background-color: #17a2b8;
}

.success-box {
  background-color: #28a745;
}

.danger-box {
  background-color: #dc3545;
}

.warning-box {
  background-color: #ffc107;
}

.blue-icon {
  color: #148a9d;
}

.success-icon {
  color: #228e3b;
}

.danger-icon {
  color: #bb2d3b;
}

.warning-icon {
  color: #d9a406;
}

.main-select {
  border-radius: 4px;
  padding: 0.2rem;
  font-size: 13px;
  transition: 300ms;
  border: 1px solid #ddd;
}
.main-select:focus {
  box-shadow: 0 0 0 0.25rem rgba(43, 166, 112, 0.25) !important;
  outline: none;
}

.form-select {
  padding: 0.375rem 0.75rem 0.375rem 0.75rem !important;
  background-position: left 0.75rem center !important;
  font-size: 13px !important;
  color: #4d5054 !important;
}

.form-control:focus {
  box-shadow: 0 0 0 0.25rem rgba(43, 166, 112, 0.25) !important;
}

.footer-bottom {
  background-color: #313131;
  color: white;
}
.footer-bottom p {
  margin: 0;
  font-size: 14px;
}

.loginPage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0eff1;
}
@media (max-width: 991.98px) {
  .loginPage .login_box {
    width: 100% !important;
  }
}
@media (max-width: 767.98px) {
  .loginPage .login_box {
    width: 80% !important;
  }
  .loginPage .login_box .image_holder img {
    border-radius: 0px 0 15px 15px !important;
  }
}
.loginPage .login_box {
  min-height: 380px;
  background-color: white;
  border-radius: 15px;
  width: 70%;
  margin: auto;
}
.loginPage .login_box .image_holder {
  width: 100%;
  height: 100%;
}
.loginPage .login_box .image_holder img {
  width: 100%;
  height: 100%;
  border-radius: 0px 15px 15px 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.loginPage .login_box .login-form {
  padding: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.loginPage .login_box .login-form .login_content {
  margin-bottom: 20px;
}
.loginPage .login_box .login-form .login_content .title {
  margin-bottom: 1rem;
  font-size: 16px;
  font-weight: 600;
}
.loginPage .login_box .login-form .login_content .inp_holder {
  margin-bottom: 15px;
}
.loginPage .login_box .login-form .login_content .inp_holder .login-label {
  margin-bottom: 6px;
  font-size: 11px;
  color: #959595;
  font-weight: 600;
}
.loginPage .login_box .login-form .login_content .inp_holder .login-inp {
  padding: 5px 13px !important;
  border-radius: 6px;
}
.loginPage .login_box .login-form .login_content .btn_holder .login-btn {
  transition: background-color 0.4s;
  width: 100%;
  color: white;
  text-align: center;
  margin-top: 15px;
  padding: 0.5rem 1rem;
  line-height: 1.25rem;
  font-weight: 500;
  border-radius: 0.5rem;
  background-color: #09adce;
}
.loginPage .login_box .login-form .login_content .btn_holder .login-btn:hover {
  background-color: #08a1c0;
}/*# sourceMappingURL=main.css.map */