// Boxes
// boxes-info
.boxes-info {
  .box-info {
    background-color: $white-color;
    padding: 25px 15px;
    text-align: end;
    overflow: hidden;
    border-radius: 0.375rem;
    position: relative;
    box-shadow: 0 0 6px 0 #d3d3d3;
    transition: $transition;
    &:hover {
      box-shadow: 0 0 6px 0 #aeaaaa;
    }
    &.blue {
      .bg-icon {
        color: #5b8af0;
      }
    }
    &.green {
      .bg-icon {
        color: $main-color;
      }
    }
    &.pur {
      .bg-icon {
        color: #7b74eb;
      }
    }
    &.red {
      .bg-icon {
        color: #de5f56;
      }
    }
    .num {
      font-size: 25px;
    }
    .text {
      font-size: 16px;
      color: $text-greey;
    }
    .bg-icon {
      position: absolute;
      right: -3%;
      bottom: 0;
      font-size: 60px;
    }
  }
  &.boxes-bg-color .box-info {
    color: $white-color;
    .text {
      color: $white-color;
    }
    .bg-icon {
      color: $white-color;
    }
    &.blue {
      background-color: #5b8af0;
    }
    &.green {
      background-color: $main-color;
    }
    &.pur {
      background-color: #7b74eb;
    }
    &.red {
      background-color: #de5f56;
    }
  }
}

.content-box {
  padding: 16px;
  border-radius: 0.3rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: $white-color;
}

/* status box style */
.status_box {
  position: relative;
  color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
  &:hover .icon {
      > svg {
          transform: scale(1.1);
      }
  }
  .data {
      padding: 10px;
      > h3 {
          font-size: 2.2rem;
          font-weight: 700;
          margin: 0 0 10px;
          white-space: nowrap;
          z-index: 5;
      }
      > p {
          font-size: 16px;
          z-index: 5;
      }
  }
  .icon {
      position: absolute;
      top: 20px;
      left: 15px;
      > svg {
          font-size: 50px;
          transition: transform 0.5s;
      }
  }
  .more {
      position: relative;
      display: block;
      text-align: center;
      padding: 5px 0;
      background-color: rgba(0, 0, 0, 0.1);
      z-index: 10;
      color: #fff;
      &:hover {
          background-color: rgba(0, 0, 0, 0.15);
      }
  }
}

.blue-box {
  background-color: #17a2b8;
}

.success-box {
  background-color: #28a745;
}

.danger-box {
  background-color: #dc3545;
}

.warning-box {
  background-color: #ffc107;
}

.blue-icon {
  color: #148a9d;
}

.success-icon {
  color: #228e3b;
}

.danger-icon {
  color: #bb2d3b;
}

.warning-icon {
  color: #d9a406;
}

