body {
  font-family: "Noto Kufi Arabic", sans-serif;
  background-color: $section-color;
  color: black;
  font-size: 14px;
  scroll-behavior: smooth;
}
// All Rest
* {
  @include all-reset;
}
// a Reset
a {
  @include a-reset;
}
// reset btn
button {
  border: none;
  outline: none;
}

.btn-warning, .btn-info {
  color: $white-color;
  &:hover {
    color: $white-color;
  }
}

// reset form-control
.form-control {
  font-size: 14px !important;
  border: 1px solid $light-grey-color !important;
}

.form-floating {
  > label {
    left: auto;
  }
}

// main-section
.main-section {
  padding: 1.5rem 0;
  min-height: calc(100vh - 41.88px - 54.5px - 69px);
}
// Modal
.modal-header {
  .modal-title {
    font-size: 15px !important;
  }
  .btn-close {
    margin: unset !important;
  }
}

/* start scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f6f6f6;
  box-shadow: 0 0 5px 0px #ddd inset;
}

::-webkit-scrollbar-thumb {
  background-color: #09b6d8;
  border-radius: 20px;
  &:hover {
    background-color: #09adce;
  }
}
/* end scroll bar */
